In [1]:
import pandas as pd
import numpy as np

In [2]:
df1= pd.read_csv('fills.csv')
df2= pd.read_csv('settlepx_updated.csv')
pd.Series(df2['sym']).is_unique

False

In [3]:
k=0
arr=[]
for i in df2.index:
    k=df2.ctype[i]

    if k!='OT':

        arr.append(df2.sym[i])
for j in df1.index:
    if df1.sym[j] in arr:
        df1.drop([j],inplace=True)

In [4]:
# df1

In [5]:

brr=[]
for i in df1.sym:
    j=df2[df2['sym']==i]['settlepx'].values
    if len(j)>0:
#         print(j[0])
        brr.append([j[0]])
    else:
        brr.append(None)

In [6]:
# brr

In [7]:
crr=[]
for i in brr:
    if i :
        crr.append(i[0])
    else:
        crr.append(None)

In [8]:
# print(len(brr))

In [9]:
df1['settelpx']=crr

df1['settelpx'].shape

(52380,)

In [10]:
pandl=[]
for i in df1.index:
    if df1.side[i]=='B':
        j=(df1['settelpx'][i]-df1['price'][i])*df1['quantity'][i]
    if df1.side[i]=='S':
        j=(df1['price'][i]-df1['settelpx'][i])*df1['quantity'][i]
    pandl.append(j)

In [11]:
df1['pandl']=pandl

In [12]:
df1.groupby(['trader']).sum()

,quantity,price,wqp,settelpx,pandl
trader,,,,,
AG1357,4408,1.975674e+06,4.398525e+07,1.975750e+06,191.500000
AGUPTA,39567,1.081971e+05,3.931784e+06,1.081962e+05,-5.734000
AK1357,62,3.987600e+04,6.184560e+05,3.988150e+04,-10.000000
AKUMAR,24565,5.108269e+04,2.445987e+06,5.108807e+04,-11.995000
AM1057,2045,1.726334e+06,1.920496e+07,1.606607e+06,49813.000000
AMENON,19890,4.978972e+04,1.974132e+06,4.979381e+04,-0.110000
ARB01057EK,45,2.389995e+06,3.240095e+06,2.088615e+06,-62040.000000
CA1057,17902,1.668302e+07,5.254196e+08,1.666609e+07,-305789.000000
CSCHMIDT,38121,3.466363e+08,1.850206e+10,3.456855e+08,-763629.830938
FIZERALGO,168,7.873100e+04,1.653351e+06,7.877200e+04,0.000000
HREDDY,100,3.975060e+02,9.947170e+03,3.975800e+02,0.020000
RKV1057,6,2.489590e+05,3.763540e+05,2.037800e+05,276.000000
RVERMA,2294,8.841810e+03,2.164926e+05,8.839120e+03,6.350000
amarkantkumar,56660,2.728984e+06,5.672010e+06,2.728254e+06,3.090000
angelgupta,36529,1.578857e+06,3.643738e+06,1.578967e+06,0.520000
arvindmenon,4357,6.159009e+05,2.977769e+06,4.984929e+05,-268561.925000
catkins,220,9.985625e+04,2.197362e+06,9.986200e+04,155.000000
craigatkins,3289,1.246767e+05,3.285496e+05,1.245844e+05,0.497500
eugenekrel,120,1.997272e+06,7.727475e+06,1.569840e+06,281250.000000
harishreddy,30,1.997050e+02,2.995575e+03,1.997000e+02,0.075000
ravikumarverma,2294,2.491201e+04,2.164920e+05,2.490402e+04,-6.525000

In [188]:
df1.groupby(['trader']).sum().to_csv('trader.csv')

In [13]:
df1.groupby(['sym']).sum()

        quantity     price        wqp  settelpx   pandl
sym
AMB1H3        20  19936.25  199362.50  19935.50   -7.50
AMB1K1        50  19980.75  499518.75  19982.00   31.25
AMB1M1        50  19980.25  499506.25  19982.00   43.75
AMB1N1        50  19979.75  499493.75  19981.75   50.00
AMB3M1        50  19979.25  499481.25  19980.75   37.50
...          ...       ...        ...       ...     ...
ZQU1          25  19982.00  249775.00  19981.00   -7.50
ZQU2          17  69888.00  169728.00  69888.00    0.00
ZQV1          85  39968.00  849320.00  39962.00  127.50
ZQX1          20   9991.50  199830.00   9990.50  -20.00
ZQZ1           1   9991.50    9991.50   9990.50    1.00

[262 rows x 5 columns]

In [14]:
df3= pd.read_csv('settlepx.csv')
df1.groupby(['trader','sym']).count().to_csv('finalpos.csv')
df4=pd.read_csv('finalpos.csv')

crr=[]
k1=0
for i in df4.sym:
    j=df3[df3['sym']==i]['settlepx'].values
    crr.append(j)


drr=[]
for i in crr:
    if len(i)>0:
        drr.append(i[0])
    else:
        drr.append(None)
df4['settelpx']=drr

df4.to_csv('finalpos1.csv')